<!doctype html>
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>The Clumsiness Competition</h1>
        </header>

        <div class="main-container">
            <nav>
                    <ul class="navbar">
                        <li><a href="/" class="{{ 'active' if request.path == '/' else '' }}">Homepage</a></li>
                        <li><a href="/info" class="{{ 'active' if request.path == '/info' else '' }}">About page</a></li>
                        <li><a href="/groups" class="{{ 'active' if request.path == '/groups' else '' }}">Join a group</a></li>
                        <li><a href="/event_cat" class="{{ 'active' if request.path == '/event_cat' else '' }}">Create an event</a></li>
                        <li><a href="/logout" class="{{ 'active' if request.path == '/logout' else '' }}">Log out</a></li>
                    </ul>
            </nav>
            <h2>Event categories</h2>
            <div class="container">
                <div class="column">
                    <form action="/new_event_cat" method="POST">
                        <label for="new_event_cat">Create a new event category:</label>
                        <input type="text" id="new_event_cat" name="new_event_cat" minlength="3" maxlength="25" required class="form-control" style="width: 35%;">
                        <input type="submit" value="Create category" class="form-button">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            </div>
            <h3>All event categories:</h3>
            <div>
                {% for cat in all_event_cats %}
                    <a href="/events/{{cat.id}}">{{ cat.event_cat_name | capitalize }}</a>
                {% else %}
                    <p>No event categories found.</p>
                {% endfor %}
            </div>
            <br>
        </div>
    <footer>
        <a href="/">Back to homepage</a>
    </footer>
    </div>
</body>
</html>