<!doctype html>
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Groups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
    <header>
        <h1>The Clumsiness Competition</h1>
    </header>

    <div class="main-container">
        <nav>
            <ul class="navbar">
                <li><a href="/" class="{{ 'active' if request.path == '/' else '' }}">Homepage</a></li>
                <li><a href="/info" class="{{ 'active' if request.path == '/info' else '' }}">About page</a></li>
                <li><a href="/groups" class="{{ 'active' if request.path == '/groups' else '' }}">Join a group</a></li>
                <li><a href="/event_cat" class="{{ 'active' if request.path == '/event_cat' else '' }}">Create an event</a></li>
                <li><a href="/logout" class="{{ 'active' if request.path == '/logout' else '' }}">Log out</a></li>
            </ul>
        </nav>
        <h2>Groups</h2>
        <div class="container">
            <div class="column"> 
                <form action="/new_group" method="POST">
                    <label for="new_group">Create a new group:</label>
                    <input type="text" id="new_group" name="new_group" minlength="3" maxlength="25" required class="form-control">
                    <input type="submit" value="Create group" class="form-button">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </div>
            <div class="column"> 
                <form action="/join_group" method="POST">
                    <label for="join_group">Join a group:</label>
                    <br>
                    <select id="join_group" name="join_group" required class="form-control">
                        <option value="" disabled selected>Select a group</option>
                        {% for group in all_groups | sort(attribute='group_name') %}
                            <option value="{{ group.id }}">{{ group.group_name | capitalize }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Join group" class="form-button">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </div>
        </div>
        <h3>My groups</h3>
        <div>
            {% for one_group in my_groups | sort(attribute='group_name') %}
            <a href="/one_group/{{ one_group.group_id}}">{{one_group.group_name | capitalize}}</a>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
    <footer>
        <a href="/">Back to homepage</a>
    </footer>
    </div>
</body>
</html>