<!doctype html>
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What is the clumsiness competition?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/main.css') }}">
</head>
<body>
    <h2>What is the clumsiness competition?</h2>
    <p>The clumsiness competition application keeps track of the users' clumsiness.
    </p>

    <p>The idea behind this application is to determine who is the most clumsy person in the group. There are many ways to exhibit clumsiness, for instance, tripping, falling down while walking (maybe the road is icy or maybe you are just clumsy), falling down while standing (now you are just being clumsy), falling off a vehicle (e.g., a bicycle), bumping into something (e.g., a wall, a chair, a coffee table, another person (spatial awareness is challenging..)), getting a cut or a burn while doing something (e.g., reading a book and getting a paper cut, burning yourself while cooking or baking), hitting your head on a cabinet door, or dropping something for no reason. There might also be a correlation between being clumsy and intoxication levels, which this application considers by checking if the clumsiness occurred while being intoxicated.
    </p>
    <p>In the end, the most important criterion for defining clumsiness is that it is caused by oneself accidentally. It is not about incidents that occur while attempting something potentially harmful but about everyday incidents.
    </p>

    <a href="/">Back to homepage</a>
</body>
</html>
