<!doctype html>
<html>
<head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Unique group</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>The Clumsiness Competition</h1>
        </header>
    
        <div class="main-container">
            <nav>
                <ul class="navbar">
                    <li><a href="/" class="{{ 'active' if request.path == '/' else '' }}">Homepage</a></li>
                    <li><a href="/info" class="{{ 'active' if request.path == '/info' else '' }}">About page</a></li>
                    <li><a href="/groups" class="{{ 'active' if request.path == '/groups' else '' }}">Join a group</a></li>
                    <li><a href="/event_cat" class="{{ 'active' if request.path == '/event_cat' else '' }}">Create an event</a></li>
                    <li><a href="/logout" class="{{ 'active' if request.path == '/logout' else '' }}">Log out</a></li>
                </ul>
            </nav>
        <h2>{{ group_users[0].group_name | capitalize if group_users else 'Group Not Found' }}</h2>
        <h3>Group members:</h3>
        <div>
            {% for user in group_users %}
                <p>{{ user.username | capitalize}}</p>
            {% else %}
                <p>No members found.</p>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
    <footer>
        <a href="javascript:history. back()"><b>Back to groups</b></a>
    </footer>
    </div>
</body>
</html>