<!doctype html>
<html>
<head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Unique group</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>The Clumsiness Competition</h1>
        </header>
    
        <div class="main-container">
            <nav>
                <ul class="navbar">
                    <li><a href="/" class="{{ 'active' if request.path == '/' else '' }}">Homepage</a></li>
                    <li><a href="/info" class="{{ 'active' if request.path == '/info' else '' }}">About page</a></li>
                    <li><a href="/groups" class="{{ 'active' if request.path == '/groups' else '' }}">Join a group</a></li>
                    <li><a href="/event_cat" class="{{ 'active' if request.path == '/event_cat' else '' }}">Create an event</a></li>
                    <li><a href="/logout" class="{{ 'active' if request.path == '/logout' else '' }}">Log out</a></li>
                </ul>
            </nav>
        <h2>{{ group_users[0].group_name | capitalize if group_users else 'Group Not Found' }}</h2>
        <h3>Group members:</h3>
        <div>
            {% for user in group_users %}
                <p>{{ user.username | capitalize}}</p>
            {% else %}
                <p>No members found.</p>
            {% endfor %}
        </div>
        <h3>Add an event that happened</h3>
        <div class="column"> 
            <form action="/log_event/{{group_id}}" method="POST">
                <label for="category">Choose an event category:</label>
                <select name="category" id="category" onchange="updateEventsDropdown()" required class="form-control" style="width: 35%;">
                    <option value="" disabled selected>Select a category</option>
                    {% for category in all_event_cats | sort(attribute='category_name') %}
                        <option value="{{ category.id }}">{{ category.event_cat_name | capitalize }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="event">Choose an event:</label>
                <select name="event" id="event" required class="form-control" style="width: 35%;">
                    <option value="" disabled selected>Select an event</option>
                </select>
                <input type="submit" value="Log event" class="form-button">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <br>
        <br>
    </div>
    <footer>
        <a href="javascript:history. back()"><b>Back to groups</b></a>
    </footer>
    </div>

    <script>
    function capitalizeWords(str) {
        return str.replace(/\b\w/g, l => l.toUpperCase());
}

    function updateEventsDropdown() {
        var categoryId = document.getElementById('category').value;
        var eventDropdown = document.getElementById('event');
        eventDropdown.innerHTML = '<option value="" disabled selected>Loading events...</option>'; 

        fetch('/events_for_category/' + categoryId)
            .then(response => response.json())
            .then(data => {
                eventDropdown.innerHTML = '<option value="" disabled selected>Select an event</option>'; 
                if (data.length) {
                    data.forEach(event => {
                        eventDropdown.innerHTML += `<option value="${event.id}">${capitalizeWords(event.event_name)}</option>`;
                    });
                } else {
                    eventDropdown.innerHTML += '<option value="" disabled selected>No events found</option>'; 
                }
            })
            .catch(error => {
                console.error('Error fetching events:', error);
                eventDropdown.innerHTML = '<option value="" disabled selected>Error loading events</option>';
            });
        }
    </script>
        
</body>
</html>