<!doctype html>
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <header>
        <h1>The Clumsiness Competition</h1>
    </header>

    <div class="main-container">
        <nav>
            <ul class="navbar">
                <li><a href="/" class="{{ 'active' if request.path == '/' else '' }}">Homepage</a></li>
                <li><a href="/info" class="{{ 'active' if request.path == '/info' else '' }}">About page</a></li>
            </ul>
        </nav>
        <br>
        <form action="/register" method="post">
        Username: <input type="text" name="username">
        <p>
        Password: <input type="password" name="password1">
        <p>
        Repeat password: <input type="password" name="password2">
        <p>
        <input type="submit" value="Register">
        </form>
        <br>
    </div>
    <footer>
        <a href="/login">Back to login</a>
    </footer>
</body>
</html>
